@import url('https://fonts.googleapis.com/css?family=Rajdhani');
@import url('https://fonts.googleapis.com/css?family=Roboto');


* {
	color:white;
	text-decoration: none;
}

body {
	font-family: 'Roboto';
	background-color:#333;
	background-image: url("https://picsum.photos/1920/1080?random");
}

#return {
	float:right;
	font-size:.8em;
}

#clock {
	font-size:10em;
	position: absolute;
        top: 30%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
}

#progress {
	font-size:2em;
	position: absolute;
        top: 55%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
}

#date {
	font-size:1em;
	position: absolute;
        top: 30%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
}

#quote {
	font-size:1.25em;
	position: absolute;
	top: 75%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	width:80%;
	text-align:center;
}


/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;
  -webkit-animation-fill-mode:forwards;
  -webkit-animation-duration:3s;
    color: #fff;
    text-shadow: #000 0px 0px 5px,#000 0px 0px 4px,#000 0px 0px 3px,#000 0px 0px 2px,#000 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
}