#container {
    margin: 0px auto;
    border: 1px black solid;
}

.resize {
	display:inline-block;
	width:45%;
	resize: both;
	overflow: auto;
	border:2px solid black;
}

#localVideoElement {
	height: 90%;width: 90%;
}

#peerVideoElement {
	height: 90%;width: 90%;
}

#clear {
	clear:both;
}